# Ignore C# and C files for language stats
*.cs linguist-vendored
*.c linguist-vendored
*.h linguist-language=C++
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
